/* Estilos generales */

html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding-top: 80px;
}

/* Header */
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    /* Tamaño del logo */
    margin-right: 15px;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0 30px 0 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Contenido principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #ffffff;
    padding: 50px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.hero .content {
    flex: 1;
    padding-right: 20px;
}

.hero .content h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.hero .content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: #0056b3;
}

.hero .image {
    flex: 1;
    text-align: center;
}

.hero .image img {
    max-width: 100%;
    height: auto;
}

/* Inicio footer */
footer {
    background-color: #0078d4;
    color: white;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Permite que los elementos se reorganicen en pantallas pequeñas */
  }
  
  .footer-logo img {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: white;
  }
  
  .newsletter p, .social-media p {
    margin-bottom: 10px;
  }
  
  .newsletter input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .newsletter button {
    padding: 10px 20px;
    background-color: #005a9e;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .social-media a img {
    width: 30px;
    margin-right: 10px;
  }

  .social-links i {
    font-size: x-large !important;
    cursor: pointer;
    padding: 5px;
    
}
  
  /* Media queries para pantallas pequeñas */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column; /* Cambia el diseño a una columna en pantallas pequeñas */
      align-items: center; /* Centra los elementos */
      text-align: center;
    }
  
    .footer-logo img {
      margin-bottom: 15px;
    }
  
    .footer-links ul {
      margin-bottom: 15px;
    }
  
    .newsletter, .social-media {
      margin-bottom: 15px;
    }
  
    .newsletter input {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .newsletter button {
      width: 100%;
    }
  
    .social-media .social-links {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }

  /* Fin footer */
  



/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    nav ul {
        display: none;
        /* Oculta el menú por defecto */
        flex-direction: column;
        background-color: #007bff;
        position: absolute;
        top: 70px;
        /* Ajustar dependiendo de la altura del header */
        left: 0;
        width: 100%;
        padding: 10px 0;
    }

    .menu-toggle {
        display: block !important;
        margin: 0 30px 0 0;
        /* Muestra el botón de menú */
        cursor: pointer;
    }

    .menu-toggle i {
        font-size: x-large;
    }

    nav ul.show {
        display: flex;
        /* Muestra el menú desplegable cuando se activa */
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    nav ul li a {
        display: block;
        padding: 10px;
    }
}

/* Para pantallas grandes, ocultar el botón */
.menu-toggle {
    display: none;
}

