/* Para pantallas grandes, ocultar el botón */
.menu-toggle {
  display: none;
}

#inicio {
height: 100vh;
margin-top: 56px; /* Ajuste según la altura de la navbar */
}

.card {
margin-bottom: 20px;
}

.bg-blue {
--bs-bg-opacity: 1;
background-color: #007bff !important;
}


.navbar-blue{
color: white;
}


#inicio .container {
padding-top: 50px;
padding-bottom: 50px;
}

#inicio img {
max-width: 80%;
}


.card-text {
height: 380px;
overflow-y: auto; /* Si el texto es más largo, permitirá hacer scroll */
}

.bg-opacity {
background-color: rgba(226, 241, 255, 0.562) !important; /* Transparencia del 80% */
padding: 15px; /* Agregar un poco de relleno al texto */
border-radius: 5px; /* Opcional: bordes redondeados */
}